@tailwind base;
@tailwind components;
@tailwind utilities;

.home button {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 6px;
  background-color: rgb(55,65,81);
}

.h-screen-minus-header {
  height : calc(100vh - 36px)
}

.overview h2, .services h2 {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: larger;
}

.overview h3, .services h3 {
  padding-bottom: 4px;
  font-weight: 600;
  font-size: large;
}

.overview p, .services p {
  text-align: justify;
}